@model Divena_CMS.Models.ViewModels.Info
@*<a class="fh5co-logo" asp-controller="Home" asp-action="Index">
    <span>@Model.siteTitle</span> <img id="logoImg" src="@Model.logo" /> <span>@Model.siteDescription</span>
</a>*@


<a class="navbar-brand" asp-controller="Home" asp-action="Index"> 
   @* <span>@Model.siteTitle</span>*@ 
    <img id="logoImg" width="200" alt="@Model.siteTitle" src="@Model.logo" />
   @* <span>@Model.siteDescription</span>*@
</a>
